@import "normalize.css";

@import "fontello.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.has-left-transition {
  -webkit-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
  -moz-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
  -ms-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
  -o-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
  transition: margin 300ms ease-in-out, left 300ms ease-in-out;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
#viewport {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}
header {
  background: #628cb2;
  border-bottom: #395875;
  box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -webkit-box-shadow: 0 0 4px #000000;
}
nav {
  background: rgba(0, 0, 0, 0.9);
  font-size: 120%;
  height: 100%;
  margin-left: -80%;
  min-height: 100%;
  overflow-y: auto;
  position: absolute;
  width: 80%;
  word-break: break-word;
  z-index: 5;
}
nav.active {
  margin-left: 0%;
}
nav.active + .main-container {
  margin-left: 80%;
}
nav ul {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
nav ul.left {
  left: -100%;
}
nav ul li {
  border-bottom: 1px solid #999999;
  cursor: pointer;
  position: relative;
}
nav ul li a {
  color: #ffffff;
  display: block;
  padding: 10px 40px 10px 10px;
}
nav ul li a:active {
  background: #395875;
}
nav ul li .subnav-btn {
  background: 0;
  border: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 140%;
  height: 43px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
nav ul li.back {
  left: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
nav ul li.back > a {
  padding-left: 40px;
}
nav ul li.back > .subnav-btn {
  left: 0;
  right: auto;
}
nav ul li ul {
  clip: rect(0 0 0 0);
  height: 0;
  left: 100%;
  opacity: 0;
  overflow: hidden;
  width: 0;
}
nav ul li ul.open {
  clip: auto;
  height: auto;
  left: 0;
  opacity: 1;
  overflow: visible;
  top: 100%;
  width: 100%;
}
nav ul li ul.left {
  left: -100%;
}
.nav-toggle {
  font-size: 28px;
  height: 44px;
  line-height: 42px;
  padding: 0;
  width: 44px;
}
.main-container {
  box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -webkit-box-shadow: 0 0 4px #000000;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  z-index: 10;
}
.content {
  padding: 10px;
}
/* Desktops and laptops ----------- */
@media screen and (min-width: 920px) {
  .main-container {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: auto;
    max-height: none;
    min-height: 0;
  }
  nav {
    background: none;
    height: auto;
    margin-left: 0;
    min-height: 0;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 15;
  }
  nav ul {
    background: #395875;
    height: 43px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  nav ul li {
    border: none;
    display: inline-block;
    padding: 0;
    position: static;
  }
  nav ul li a {
    border-right: 1px solid #4a7297;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
  }
  nav ul li a:hover {
    background: #4a7297;
  }
  nav ul li .subnav-btn {
    border-right: 1px solid #4a7297;
    font-size: 100%;
    left: 0;
    line-height: 43px;
    position: relative;
    right: auto;
    top: 0;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
  nav ul li .subnav-btn:hover {
    background: #4a7297;
  }
  nav ul li .subnav-btn [class^="icon-"]:before {
    content: '\e811';
  }
  nav ul li.back {
    left: 0;
    padding: 0;
    position: static;
    top: 0;
    width: auto;
  }
  nav ul li ul {
    display: none;
  }
  nav ul li ul.left {
    left: 0;
  }
  nav ul.open {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  nav ul.open .open {
    top: 0;
  }
  nav ul.left {
    left: 0;
  }
  .nav-toggle {
    display: none;
  }
}
