@import "normalize.css";
@import "fontello.css";
@import "vars.less";
@import "helpers.less";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.has-left-transition {
	-webkit-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
	-moz-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
	-ms-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
	-o-transition: margin 300ms ease-in-out, left 300ms ease-in-out;
	transition: margin 300ms ease-in-out, left 300ms ease-in-out;
}

html,body {
	height: 100%;
	overflow-x: hidden;
}

#viewport {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}

header {
	background: @blue;
	border-bottom: @blueDark;
	.box-shadow(0, 0, 4px, @black);
}

nav {
	background: rgba(0,0,0,0.9);
	font-size: 120%;
	height: 100%;
	// margin-left: -80%;
	min-height: 100%;
	overflow-y: auto;
	position: absolute;
	width: 80%;
	word-break: break-word;
	z-index: 1;

	&.active {
		margin-left: 0%;

		+.main-container {
			margin-left: 80%;
		}
	}

	ul {
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&.left {
			left: -100%;
		}

		li {
			border-bottom: 1px solid @grey;
			cursor: pointer;
			position: relative;
			-webkit-tap-highlight-color: rgba(0,0,0,0);

			a {
				color: @white;
				display: block;
				padding: 10px 40px 10px 10px;
				&:active {
					background: @blueDark;
				}
			}
			.subnav-btn {
				background: 0;
				border: 0;
				color: @white;
				display: inline-block;
				font-size: 140%;
				height: 43px;
				margin: 0;
				padding: 0;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-webkit-transform: translate(0, -50%);
			}
			&.back {
				left: 100%;
				position: absolute;
				top: 0;
				width: 100%;

				> a {
					padding-left: 40px;
				}
				>.subnav-btn {
					left: 0;
					right: auto;
				}
			}
			ul {
				clip: rect(0 0 0 0);
				height: 0;
				left: 100%;
				opacity: 0;
				overflow: hidden;
				width: 0;
				&.open {
					clip: auto;
					height: auto;
					left: 0;
					opacity: 1;
					overflow: visible;
					top: 100%;
					width: 100%;
				}
				&.left {
					left: -100%;
				}
			}
		}
	}
}

.nav-toggle {
	font-size: 28px;
	height: 44px;
	line-height: 42px;
	padding: 0;
	width: 44px;
}

.main-container {
	.box-shadow(0, 0, 4px, @black);
	background-color: @white;
	min-height: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
	z-index: 10;
}

.content {
	padding: 10px;
}

/* Desktops and laptops ----------- */
@media screen and (min-width: 920px) {
	.main-container {
		.no-box-shadow();
		height: auto;
		max-height: none;
		min-height: 0;
	}
	nav {
		background: none;
		height: auto;
		margin-left: 0;
		min-height: 0;
		overflow: visible;
		position: relative;
		width: 100%;
		z-index: 15;

		ul {
			background: @blueDark;
			height: 43px;
			margin: 0;
			padding: 0;
			position: relative;

			li {
				border: none;
				display: inline-block;
				padding: 0;
				position: static;

				a {
					border-right: 1px solid lighten(@blueDark, 10%);
					color: @white;
					display: inline-block;
					padding: 10px 15px;

					&:hover {
						background: lighten(@blueDark, 10%);
					}
				}
				.subnav-btn {
					border-right: 1px solid lighten(@blueDark, 10%);
					font-size: 100%;
					left: 0;
					line-height: 43px;
					position: relative;
					right: auto;
					top: 0;
					transform: none;
					-moz-transform: none;
					-webkit-transform: none;

					&:hover {
						background: lighten(@blueDark, 10%);
					}

					[class^="icon-"]:before {
						content: '\e811';
					}
				}
				&.back {
					left: 0;
					padding: 0;
					position: static;
					top: 0;
					width: auto;
				}
				ul {
					display: none;
					&.left {
						left: 0;
					}
				}
			}
			&.open {
				display: block;
				position: absolute;
				top: 100%;
				width: 100%;

				.open {
					top: 0;
				}
			}
			&.left {
				left: 0;
			}
		}
	}
	.nav-toggle {
		display: none;
	}
}